# Unity
Library/
Temp/
obj/
Logs/
.utmp/

# IDE
.vscode/
.gradle/
.vs/

# Env
.env

# Function
ProjectSettings/Function.asset

# VideoKit
ProjectSettings/VideoKit.asset

# Recordings
recordings/

# Misc
.DS_Store